

body{
  margin: 0;
  background-image: url(https://images.pexels.com/photos/5554664/pexels-photo-5554664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}

.box {
  width: 45%;
  margin: 100px auto;
  border: 2px solid rgb(185, 8, 8);
  border-radius: 10px;
  padding: 20px;
  background-color : rgb(201, 183, 183,0.4)

}
  
input{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 10px;
}

input:focus {
  outline-color: blue;
}
  
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h2{
    display: flex;
    justify-content: center;
  }
 